.todo__list {
  text-align: center;
}
.modal-box {
  width: 500px;
  padding: 50px;
  background-color: rgba(204, 222, 236, 0.919);
  position: absolute;
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  border: 2px solid #000;
}
